body{
    background-color: grey;
margin: 0;
padding: 0px;
font-family: 'Courier New', Courier, monospace;

}

ul{
padding: 0;
margin: 0;

}

li{
list-style: none;
}

/*Website Styles*/

header{
    background-color: black;
height: 100px;
}

h1{
float: left;
margin-left: 20px;
margin-right: 50px;
color: grey;
text-shadow: 3px 3px 3px 3px yellow
}

nav li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 30px;

}

nav li a {
color: rgb(172, 172, 172) ;
font-size: 20px;

}

nav li a:hover{
    color: yellow;
}

main{
    width: 960px;
    min-width: 700px; 
    margin: 30px auto;
}

#hero{
    width: 100%;
}

main li{
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

main li:last-child{
    margin-right:0;
}

section{
    margin-top: 30px;
}

footer{
    height: 100px;
    background-color: black;
}



